html {
  line-height: 1.15; /* 1 */
  -webkit-text-size-adjust: 100%; /* 2 */
}
body {
  margin: 0;
  font-family: "Montserrat", sans-serif;
}
main {
  display: block;
}
h1 {
  font-size: 2em;
  margin: 0.67em 0;
}
hr {
  box-sizing: content-box; /* 1 */
  height: 0; /* 1 */
  overflow: visible; /* 2 */
}
pre {
  font-family: monospace, monospace; /* 1 */
  font-size: 1em; /* 2 */
}
a {
  background-color: transparent;
}
abbr[title] {
  border-bottom: none; /* 1 */
  text-decoration: underline; /* 2 */
}
b,
strong {
  font-weight: bolder;
}
code,
kbd,
samp {
  font-family: monospace, monospace; /* 1 */
  font-size: 1em; /* 2 */
}
small {
  font-size: 80%;
}
sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}
sub {
  bottom: -0.25em;
}
sup {
  top: -0.5em;
}
img {
  border-style: none;
}
button,
input,
optgroup,
select,
textarea {
  font-family: inherit; /* 1 */
  font-size: 100%; /* 1 */
  line-height: 1.15; /* 1 */
  margin: 0; /* 2 */
}
button,
input {
  /* 1 */
  overflow: visible;
}
button,
select {
  /* 1 */
  text-transform: none;
}
button,
[type="button"],
[type="reset"],
[type="submit"] {
  -webkit-appearance: button;
}
button::-moz-focus-inner,
[type="button"]::-moz-focus-inner,
[type="reset"]::-moz-focus-inner,
[type="submit"]::-moz-focus-inner {
  border-style: none;
  padding: 0;
}
button:-moz-focusring,
[type="button"]:-moz-focusring,
[type="reset"]:-moz-focusring,
[type="submit"]:-moz-focusring {
  outline: 1px dotted ButtonText;
}
fieldset {
  padding: 0.35em 0.75em 0.625em;
}
legend {
  box-sizing: border-box; /* 1 */
  color: inherit; /* 2 */
  display: table; /* 1 */
  max-width: 100%; /* 1 */
  padding: 0; /* 3 */
  white-space: normal; /* 1 */
}
progress {
  vertical-align: baseline;
}
textarea {
  overflow: auto;
}
[type="checkbox"],
[type="radio"] {
  box-sizing: border-box; /* 1 */
  padding: 0; /* 2 */
}
[type="number"]::-webkit-inner-spin-button,
[type="number"]::-webkit-outer-spin-button {
  height: auto;
}
[type="search"] {
  -webkit-appearance: textfield; /* 1 */
  outline-offset: -2px; /* 2 */
}
[type="search"]::-webkit-search-decoration {
  -webkit-appearance: none;
}
::-webkit-file-upload-button {
  -webkit-appearance: button; /* 1 */
  font: inherit; /* 2 */
}
details {
  display: block;
}
summary {
  display: list-item;
}
template {
  display: none;
}
[hidden] {
  display: none;
}
.txt_center {
  text-align: center;
}
body {
  background-color: #f1c40f;
}
.heading_h2 {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #eee;
  width: 100%;
  height: 4px;
  text-transform: uppercase;
}
.heading_h2 span {
  background-color: #f1c40f;
  text-align: center;
  display: inline-block;
  padding: 0 1em;
}
a {
  text-decoration: none;
}
ul {
  margin: 0;
  padding: 0;
}
ul li {
  list-style: none;
}
.flex_container {
  display: flex;
  width: 100%;
  margin: auto;
  flex-wrap: wrap;
}
.flex_container .flex_item {
  width: 150px;
  flex-basis: 150px;
  flex-grow: 1;
  border: 1px solid #eee;
  border-radius: 4px;
  padding: 25px;
  text-align: center;
  background-color: #eee;
  cursor: pointer;
  margin: 6px;
}
.flex_container .flex_item a {
  font-weight: 700;
  font-size: 16px;
  color: #000;
}
.heart_shape {
    background: #f9e1ea none repeat scroll 0 0;
    border-radius: 50%;
    display: block;
    height: 80px;
    margin: 10px auto 0;
    text-align: center;
    width: 80px;
    position: relative;
    box-shadow: 0 0 100px 0  #b9920b;
}
.heart_shape::before{
	  color: #f3166e;
    content: "❤";
    font-size: 50px;
    position: relative;
    top: 15px;
}
.circle{
  width:10px;
  height:10px;
  background:#f3166e;
  border-radius:50%;
  position:absolute;
  top:0; 
  bottom:0; 
  left:0;
  right:0;
  overflow:hidden;
  margin:auto;
  animation: circle 6s linear infinite;
}
@keyframes circle{
  0%{
    transform:rotate(0deg) 
    translate(-40px)
    rotate(0deg);
    -webkit-transform:rotate(0deg) 
    translate(-40px)
    rotate(0deg);
    -moz-transform:rotate(0deg) 
    translate(-40px) 
    rotate(0deg);
    -ms-transform:rotate(0deg) 
    translate(-40px)
    rotate(0deg);
    -o-transform:rotate(0deg) 
    translate(-40px) 
    rotate(0deg);
}
  100%{
    transform:rotate(360deg)     
    translate(-40px)
    rotate(-360deg);
    -webkit-transform:rotate(360deg)
    translate(-40px)
    rotate(-360deg);
    -moz-transform:rotate(360deg)
    translate(-40px)
    rotate(-360deg);
    -ms-transform:rotate(360deg)
     translate(-40px)
     rotate(-360deg);
    -o-transform:rotate(360deg)
    translate(-40px)
    rotate(-360deg);
}
}